<form class="login-form">
    {{!-- email --}}
    <div>
        <label for="email-login">email:</label>
        <input type="text" id="email-login" />
    </div>
    {{!-- password --}}
    <div>
        <label for="password-login">password:</label>
        <input type="password" id="password-login" />
    </div>
    {{!-- login --}}
    <div>
        <button type="submit">login</button>
    </div>
</form>

{{!-- signup form --}}
<form class="signup-form">
    {{!-- username --}}
    <div>
        <label for="username-signup">username:</label>
        <input type="text" id="username-signup" />
    </div>
    {{!-- email --}}
    <div>
        <label for="email-signup">email:</label>
        <input type="text" id="email-signup" />
    </div>
    {{!-- password --}}
    <div>
        <label for="password-signup">password:</label>
        <input type="password" id="password-signup" />
    </div>
    {{!-- signup button --}}
    <div>
        <button type="submit">signup</button>
    </div>
</form>

<script src="/javascript/login.js"></script>